@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.dinogame {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 50px;
}

.game {
    /* border: 1px solid rgb(29, 214, 5); */

    width: 800px;
    height: 300px;
    position: relative;
    display: flex;

    /* overflow: hidden; */
}

.aubert {
    margin-top: 5%;
    z-index: 1;
}

#dino {
    width: 50px;
    height: 40px;
    position: absolute;
    bottom: 50px;
}

.jump {
    animation: jump .6s linear;
    /* animation: jump 3s linear; */
}

@keyframes jump {
    0% {
        bottom: 50px;
    }

    20% {
        bottom: 90px;
    }

    40% {
        bottom: 120px;
    }

    50% {
        bottom: 130px;
    }

    60% {
        bottom: 120px;
    }

    80% {
        bottom: 90px;
    }

    100% {
        bottom: 50px;
    }
}

#cactus {
    width: 40px;
    height: 40px;
    background: url(../img/fence.png);
    background-size: 40px 40px;
    position: absolute;
    bottom: 50px;
    left: 105%;

}

#play {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 40px;

    background: #f66a12;
    box-shadow: 0 .2em #963f0a;
    border-radius: 5px;
    color: #fff;

    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play:hover {
    background: #cc570e;
    box-shadow: 0 .2em #963f0a;
    border-radius: 5px;
    color: #fff;
}

#play:active {
    box-shadow: none;
    transform: translate(-50%, calc(-50% + .2em));
}

#play p {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    text-transform: uppercase;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 30px;

    border: 2px solid #000;
    border-radius: 1px;

    position: absolute;
    right: 0px;
    margin: 10px 10px 0 0;
    padding: 10px;

    color: #f66a12;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}


#landscape {
    /* border: 10px solid rgb(54, 67, 164); */
    width: 100%;
    height: inherit;
    display: flex;
    z-index: -1;
    position: absolute;
    left: 0;
}


.grass {
    border: 1px solid #000;

    position: absolute;
    width: 100%;
    height: 100%;
}

#landscape img {
    width: 50%;
    /* border: 2px solid rgb(220, 61, 61); */
}

#landscape_grass {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: fit-content;
}

#landscape_sky {
    display: flex;
    width: 100%;
}

#landscape_sky img {
    border: 2px solid rgb(220, 61, 61);
}

canvas {
    border: 1px solid #000;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
