@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.dinogame {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 50px;
}

.game {
    /* border: 1px solid #000; */

    width: 800px;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: grid;
}

.aubert {
    margin-top: 5%;
    z-index: 1;
}

#dino {
    width: 50px;
    height: 40px;
    position: absolute;
    bottom: 50px;
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
      0% { top: 150px; background: url(../img/sheep.png) }
     30% { top: 115px; background: url(../img/sheep.png) }
     40% { top:  90px; background: url(../img/sheep.png) }
     50% { top:  80px; background: url(../img/sheep.png) }
     60% { top:  90px; background: url(../img/sheep.png) }
     80% { top: 115px; background: url(../img/sheep.png) }
    100% { top: 150px; background: url(../img/sheep.png) }
}

#cactus {
    width: 20px;
    height: 40px;
    background: url(../img/fence.png);
    background-size: 20px 40px;
    position: absolute;
    bottom: 50px;
    left: 105%;

}

#play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 30px;

    border: 1px solid #000;
    border-radius: 10px;

    position: absolute;
    right: 0px;
    margin: 10px 10px 0 0;
    padding: 10px;

    color: #f66a12;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#landscape {
    /* border: 10px solid rgb(54, 67, 164); */
    width: 100%;
    height: inherit;
    display: flex;
    z-index: -1;
    position: absolute;
    left: 0;
}


.grass {
    border: 1px solid #000;
    
    position: absolute;
    width: 100%;
    height: 100%;
}

#landscape img {
    width: 50%;
    /* border: 2px solid rgb(220, 61, 61); */
}

#landscape_grass {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: fit-content;
}
