@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.dinogame {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 50px;
}

.game {
    width: 600px;
    height: 200px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    display: grid;
}

.aubert {
    margin-top: 5%;
    z-index: 1;
}

#dino {
    width: 50px;
    height: 40px;
    position: relative;
    top: 159px;
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
      0% { top: 150px; background: url(../img/sheep.png) }
     30% { top: 115px; background: url(../img/sheep.png) }
     40% { top:  90px; background: url(../img/sheep.png) }
     50% { top:  80px; background: url(../img/sheep.png) }
     60% { top:  90px; background: url(../img/sheep.png) }
     80% { top: 115px; background: url(../img/sheep.png) }
    100% { top: 150px; background: url(../img/sheep.png) }
}

#cactus {
    width: 20px;
    height: 40px;
    background: url(../img/cactus.png);
    background-size: 20px 40px;
    position: relative;
    top: 60px;
    left: 600px;

}

#play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 30px;

    border: 1px solid #000;
    border-radius: 10px;

    position: absolute;
    right: 0px;
    margin-right: 10px;
    padding: 10px;

    color: red;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.landscape {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.landscape img {
    height: 200px;
}